@import url(./fonts.css);
@import url(./utils.css);

@font-face {
    font-family: 'Spotify Mix';
    src: url('SpotifyMix-Regular.eot');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --gray-text-color: #8e8e8e;
    --dark-gray-bg-color: #1f1f1f;
    --gray-border-color: #7c7c7c;
    --dark-gray-bg-main-color: #121212;
    --gray-bg-items-color: #2a2a2a;
}

* {
    box-sizing: border-box;
    font-family: 'Spotify Mix', sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    overflow: hidden;
    width: 100vw;
    background-color: black;


}

.navbar {
    margin: auto;
    justify-content: space-around;
    height: 10vh;
    width: 99vw;
    display: flex;
    align-items: center;

    gap: 10px;

}

.logo {
    left: 2%;
    position: absolute;
}

.home {
    position: absolute;
    left: 30%;
    margin-right: 10px;
}

.home-btn {
    cursor: pointer;
    height: 48px;
    width: 48px;
    border: none;
    outline: none;
    border-radius: 50% 50% 50% 50%;
    background-color: var(--dark-gray-bg-color);
}

.home-btn img {
    fill: currentColor;


}

.home-btn:hover {
    border: 1px solid var(--gray-border-color);
    transition: 200ms ease;
    transform: scale(1.05);
    outline: none;

}

.search {
    background-color: var(--dark-gray-bg-color);


    width: 35vw;

    height: 48px;
    border-radius: 500px;
    position: absolute;
    left: 34%;
    margin-left: 10px;
}

.search-img {
    margin-right: 10px;
    position: absolute;
    left: 15px;
}

.browse-img {
    height: 24px;
    padding-left: 12px;
    border-inline-start: 1px solid var(--gray-border-color);
}

.search input {
    position: absolute;
    left: 10%;
    color: white;
    outline: none;
    width: 60%;
    background: none;
    border: none;

}

.search input::placeholder {
    color: rgb(174, 175, 169);
    font-family: 'Spotify Mix', sans-serif;
    font-weight: 400;
    font-size: 16px;


}

.search button {
    background: none;
    width: 20%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.search:hover {

    border: 1px solid var(--gray-border-color);
    outline: none;
    -webkit-transition: all .22s ease-in;
    transition: all .22s ease-in;
    transition: all .1s ease-in;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    background-color: #2a2a2a;
}


.nav-right {
    position: absolute;

    width: 7vw;
    height: 50px;
}

.signin {
    color: var(--gray-text-color);
    right: 9%;
    margin-right: 10px;
}

.login {
    color: black;
    right: 2%;
    margin-left: 10px;
    background: white;
    border-radius: 5000px;
}

.signin:hover {
    color: white;
    transform: scale(1.05);
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 200ms transform;
}

.login:hover {

    transform: scale(1.05);
    transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 200ms transform;
}

.main {
    height: 75vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.55fr 4fr;
    gap: 10px;

}

.lib {
    /* overflow-y: scroll; */
    overflow-x: hidden;

}

.main-child {
    background-color: var(--dark-gray-bg-main-color);

    padding: 10px;
    color: white;
}

.top-lib {
    width: 90%;
    position: relative;
    left: 15px;
    top: 10px;
    gap: 10px;
    justify-content: space-between;
}

.top-lib button {
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
    color: var(--gray-text-color);
    background: none;
    border: none;
    appearance: none;
    font-size: medium;
}

.categ {
    position: relative;
    top: 25px;
    height: 50px;
    width: 100%;



}

.items {
    border-radius: 9999px;
    background-color: var(--gray-bg-items-color);
    height: 35px;

}

.plus {

    height: 35px;
    width: 35px;
    ;
}

.search_list {
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 27%;
    width: 26%;
    height: 400px;
    padding-right: 15px;
    scroll-behavior: smooth;


}

.lib-search {
    color: var(--gray-text-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

}

.lib-search-image {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.lib-list {
    height: 410px;
    position: absolute;
    top: 14%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.list-items {
    display: flex;
    width: 98%;
    align-items: flex-start;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;

}

.list-items:hover {
    background-color: #272727;
    transition: ease-in-out 200ms;

    transition: ease-in-out;
}

.list-img img[alt="play-white"] {
    position: absolute;
    height: 20px;
    opacity: 0;

}

.list-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-left: 10px;


}

.list-img img {
    border-radius: 5px;

}

.list-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content-title {
    font-weight: 500;
    font-size: 16px;
}

.content-desc {
    font-weight: 500;
    color: var(--gray-text-color);
    font-size: 14px;
}

.browse {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.browse:hover::-webkit-scrollbar {
    width: 15px;
    visibility: visible;


}

::-webkit-scrollbar {
    width: 15px;
    visibility: hidden;


}

::-webkit-scrollbar-thumb {
    transition: all 400ms ease-in-out;
    background-color: #b3b3b350;
    opacity: 0.8;

}

::-webkit-scrollbar-thumb:hover {

    background-color: var(--gray-text-color);
}

::-webkit-scrollbar-thumb:active {
    cursor: grab;
}

.start-browse {
    position: relative;
    top: 10%;
    height: 50%;
}

.browse-list {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    top: 18%;
    height: 170px;
    width: 75%;
    gap: 20px;
}



.browse-all {
    position: relative;
    top: 10%;
    width: 100%;
}

.lower-categ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    gap: 20px;
}

.browse-item {
    height: 170px;
}

.footer {
    position: relative;
    bottom: 10px;
    width: 100vw;
    height: 18vh;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}

.left-player {
    width: 100%;
    height: 80px;
}

.middle-player {
    width: 100%;
    height: 80px;

}

.top-controls {
    gap: 20px;
}

.middle-player img {

    height: 17px;
}

.right-player {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.play {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 9999px;
}

.play img[alt="resume"] {
    display: none;
}