.font-inter {
  font-family: var(--font-inter), sans-serif;
}
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}
.font-space-grotesk {
  font-family: var(--font-space-grotesk), sans-serif;
}
.font-jetbrains-mono {
  font-family: var(--font-jetbrains-mono), monospace;
}