@import url(../style.css);
.footer {
    position: relative;
    bottom: 16px;
    width: 100vw;
    height: 15vh;
    display: grid;
    place-items: center;
    gap: 10px;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    padding: 10px;
}
.footer img{
    cursor: pointer;
}
.left-player {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: relative;
}
.left-player img{
    position: absolute;
    left: 10px;
    border-radius: 4px;
    height: 70%;
}
.player-content{
    position: absolute;
    left: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.player-title{
    font-weight: 500;
    font-size: 16px;
}
.player-desc{
    font-weight: 500;
    color: var(--gray-text-color);
    font-size: 14px;
}
.middle-player {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.top-controls {
    gap: 20px;
}

.middle-player img {
    height: 17px;
    
}
.lower-bar{
    
    /* top: 10px; */
}
.seekbar{
    height: 3px;
    width: 80%;
    cursor: pointer;
    background-color: var(--gray-border-color);
    z-index: -1;
}
.circle{
    background-color: white;
    height: 13px;
    width: 13px;
    z-index: 1;
    position: relative;
    bottom: 5px;
}

.right-player {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    
    
}

.foot-btn:hover{
    transform: scale(1.1);
    transition: 100ms ease-in-out;
}
.play {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 9999px;
    transition: 300ms ease-in-out;
}

.paused {
    display: none;
    transition: 300ms ease-in-out;
}
.play{
    transition: 300ms ease-in-out;
}
.volumebar{
    height: 3px;
    width: 60%;
    cursor: pointer;
    background-color: rgb(29, 185, 84);
    z-index: -1;
}
.volume-circle{
    background-color: white;
    height: 11px;
    width: 11px;
    z-index: 1;
    position: relative;
    bottom: 4px;
    left: 40px;

}
.volume{
    width: 80px;
}
.right-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
}